.container {
  overflow: scroll;
  padding: 25px 20px;
  height: 540px;
  overflow-y: hidden;
  margin-bottom: 5px;
}

.container::-webkit-scrollbar {
  display: none;
}
.container h1:first-child {
  position: sticky;
  left: 0;
  color: rgb(60, 60, 60);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.267);
  margin: 10px 0;
  padding: 2px 4px;
  background-color: white;
}
